* {
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  background: #c9d1db;
  width: 100vw;
  padding-top: 2rem;
}

section {
  max-width: 80%;
  margin: 0 auto;
}

input {
  padding: 5px 15px;
  font-size: 1rem;
}

.result-container {
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result {
  display: flex;
  flex-direction: column;
  background: #282c34;
  width: fit-content;
  color: white;
  margin: 60px 0;

  & h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 0;
    border: 1px dotted white;
  }
}

pre {
  margin: 0;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
  width: fit-content;
}

#form-2D {
  flex-direction: column;
  min-width: fit-content;
  gap: 20px;
}

.checkboxContainer {
  display: flex;
  gap: 5px;
}

label {
  font-size: 16px;
  font-weight: bold;
}
