* {
  box-sizing: border-box;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #c9d1db;
  width: 100vw;
  padding: 2rem 0;
  margin: 0;
}

section,
header {
  max-width: 80%;
  margin: 0 auto;
}

input {
  padding: 5px 15px;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: #282c34;
  padding: 1rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  font-weight: bold;
}

summary {
  margin: 20px;
}

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.list-Container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.result-container {
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result {
  display: flex;
  flex-direction: column;
  background: #282c34;
  width: fit-content;
  color: white;
  margin: 32px 0;
  height: 150px;

  & h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
    height: 100%;
  }
}

pre {
  margin: 0;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
  width: fit-content;
}

#form-1B {
  height: 100%;
}

#form-2D {
  flex-direction: column;
  min-width: fit-content;
  gap: 20px;
}

.checkboxContainer {
  display: flex;
  gap: 5px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

details p {
  background: #282c34;
  color: white;
  padding: 2rem;
}
